*{
    box-sizing: border-box;
    margin: 0;
}
body{
    font-family: monospace;
    height: 100vh;
}
nav{
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
}
a{
    color: white;
    text-decoration: none;
}
nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 5%;
    font-size: 24px;
    padding: 1%;
}
#about{
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#about h1{
    font-size: 3rem;
}
#about h2{
    font-size: 1.5rem;
}
#work{
    background-color: black;
    color: white;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#work h2, #contact h2{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 5%;
}
#projects{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 3%;
    width: 80%;
    margin: 0 auto;
}
figure{
    text-align: center;
    border: 1px solid white;
    padding: 3%;
}
figure:hover{
    background-color: white;
    color: black;
}
figcaption{
    font-size: 18px;
}
img{
    width: 300px;
    height: 200px;
    margin: 0 auto;
    object-fit: cover;
}
#contact{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#contact a{
    color: black;
}
#contact p{
    font-size: 18px;
}
#contact ul{
    display: flex;
    list-style: none;
    font-size: 16px;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 5%;
}
li{
    border: 1px solid black;
    padding: 1%;
    width: 100px;
    height: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
i{
    font-size: 24px;
}
i:hover{
    font-size: 50px;
}
li:hover{
    font-weight: bold;
    font-size: 20px;
}
footer{
    background-color: black;
    color: white;
    width: 100%;
    position: relative;
    bottom: 0;
    padding: 2%;
    text-align: center;
    font-size: 18px;
}